@using OnecMonitor.Server.ViewModels.TechLogSeances;

@model TechLogViewModel

<form class="mb-3" method="get">

    @* <div class="input-group mb-3">
        <input class="form-control" asp-for="Filter" type="text" placeholder="WHERE clause" list="filtersList" aria-describedby="searchBtn">
        <input class="btn btn-primary" type="submit" id="searchBtn" value="Search" />
    </div> *@

    <div class="input-group  mb-3">
        <textarea hidden asp-for="Filter" id="where">@Model.Filter</textarea>
        <div class="form-control" style="min-height: 400px" id="sql_editor"></div>
        <input class="btn btn-primary" type="submit" id="searchBtn" value="Search" />
    </div>

    <table id="techlog" class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col" class="col-3">Timestamp</th>
                <th scope="col" class="col-2">Duration</th>
                <th scope="col">Event</th>
                <th scope="col">Level</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TjEvents)
            {
                <tr class="cursor-pointer om-event-row @item.AdditionalCss">
                    <td scope="row" data-bs-toggle="collapse" data-bs-target="#eventDetails-@item.TjEvent.Id" aria-expanded="false">@item.TjEvent.DateTime.ToString("yyyy-MM-dd HH:mm:ss.ffffff")</td>
                    <td scope="row" data-bs-toggle="collapse" data-bs-target="#eventDetails-@item.TjEvent.Id" aria-expanded="false">@item.TjEvent.Duration</td>
                    <td scope="row" data-bs-toggle="collapse" data-bs-target="#eventDetails-@item.TjEvent.Id" aria-expanded="false">@item.TjEvent.EventName</td>
                    <td scope="row" data-bs-toggle="collapse" data-bs-target="#eventDetails-@item.TjEvent.Id" aria-expanded="false">@item.TjEvent.Level</td>
                    <td scope="row" class="text-center">
                        @foreach (var action in item.AvailableActions)
                        {
                            <a class="btn btn-outline-dark btn-sm" asp-action="@action.Action" asp-route-id="@item.TjEvent.Id">@action.Name</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="m-0 border-0 p-0">
                        <div class="collapse m-0 border-0 p-0" id="eventDetails-@item.TjEvent.Id">
                            <table class="table table-bordered mb-0 @item.AdditionalCss">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var property in item.TjEvent.Properties)
                                    {
                                        <tr>
                                            <td style="word-break: break-all">@property.Key</td>
                                            <td style="word-break: break-all">@property.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav om-current-page="@Model.CurrentPage" class="align-self-center" om-pages-count="@Model.PagesCount" om-filter="@Model.Filter" />

</form>

@section Scripts {
    <script type="text/javascript">
        function init() {
            const editorContainer = document.getElementById('sql_editor');
            const contentContainer = document.getElementById('where');

            OM.initAceEditor(editorContainer, contentContainer, 'sql', true);
        } 
        init();
    </script>
}